h1{
    color: green;
}
div i{
    position: absolute;
    top: 20%;
    right: 10px;
    cursor: pointer;
    color: green;
}
.demo {
    color: green;
}

.btn {
    position: absolute;
    left: 14%;
    top: 10%;
    padding: 10px;
    color: green;
}
.card {
    background-color: 	rgba(34,139,34,0.4);
}
.pa {
    position:relative; 
}


