div i{
    position: absolute;
    top: 20%;
    right: 10px;
    cursor: pointer;
    color: green;
}
.demo {
    color: green;
}
.card {
    color:rgba(61,96,64);
}
#btn{
    background-color: transparent;
    border: none;
    outline: none;
}
.pa {
    position:relative; 
}
